= render 'expense/options'
- error_messages_for :expense
- form_for :expense, @expense do |f|
  .field
    = label(:expense_number, "Expense number")
    %br
    = f.text_field 'expense_number'
  .field
    = label(:uploaded_file, "File")
    %br
    = f.file_field 'uploaded_file'
  .actions
    = f.submit 'Upload'