= render 'expense/options'
%dl
  %dt Expense number
  %dd= @expense.id
  %dt User
  %dd= @expense.user.username
  %dt Expense file
  %dd= link_to "#{@expense.filename}", :action => 'download' , :id => @expense