- error_messages_for :expense
- form_for :expenses, @expense do |f|
  .field
    = label(:expense_number, 'Expense number')
    %br
    = f.text_field 'expense_number'
  - if current_user.is_admin?
    = label(:username, 'Employee')
    %br
    = f.text_field 'username'
  .actions
    = f.submit 'Search'